@keyframes inputslideright {
    from{
        right: 100%;
        opacity: 0;
    }
    to{
        right: 0px;
        opacity: 1;
    }
}

.inputslideright{
    animation: inputslideright 1s ease-in-out;
}

@media (max-width:992px) {
    .loginsignupcontainer{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 10vw;
        background: white;
        padding-bottom: 5vw;
        border-radius: 2vw;
        box-shadow: rgba(247, 251, 255, 0.677) 0px 1px 2px 0px, rgba(245, 245, 245, 0.15) 0px 2px 6px 2px;
    }
    .loginsignupheader{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 5vw;
    }
    .loginsignupheader h1{
        font-size: 10vw;
        font-weight: 700;
    }
    .underline{
        width: 15vw;
        height: 1vw;
        background: black;
        border-radius: 2vw;
    }
    .loginsignupinputs{
        position: relative;
        margin-top: 7vw;
        display: flex;
        flex-direction: column;
        gap: 6vw;
    }
    .input{
        position: relative;
        display: flex;
        align-items: center;
        margin: auto;
        width: 85%;
        height: 18vw;
        background: rgb(210, 209, 209);
        border-radius: 6px;
    }
    .input img{
        margin: 0 7vw;
    }
    .input input{
        height: 10vw;
        width: 70%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 4vw;
    }
    .forgot-password{
        padding-left: 7vw;
        font-size: 3.5vw;
    }
    .forgot-password span{
        font-weight: 700;
        cursor: pointer;
    }
    .logintext{
        padding-left: 7vw;
        font-size: 3.5vw;
    }
    .logintext span{
        font-weight: 700;
        cursor: pointer;
    }
    .submitcontainer{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 1vw auto;
    }
    .submit{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38vw;
        height: 15vw;
        color: white;
        background: black;
        border-radius: 10vw;
        font-size: 4vw;
        font-weight: 700;
        cursor: pointer;
    }
    .createaccount{
        font-weight: 700;
        cursor: pointer;
        font: optional;
        text-decoration: underline;
    }
}