@keyframes faderight {
  from{
    transform: translateX(-100%);
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes faderightopacity {
  from{
    transform: translateX(-100%);
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    opacity: 0.8;
  }
}
.faderight{
  animation: faderight 1.5s ease-in-out;
}
.faderightopacity{
  animation: faderightopacity 1.5s ease-in-out;
}
@keyframes fadeleft {
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}
.fadeleft{
  animation: fadeleft 1.5s ease-in-out;
}

@media (min-width:992px) {
    .trainersheader {
        background-color: #171717;
        color: white;
        width: 100%;
        height: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .trainerstitle {
        color: white;
        border-radius: 10px;
        padding: 15px;
        background: rgb(59, 59, 59);
        font-size: 4vw;
        border: 2px solid rgb(139, 135, 135);
        border-style:double;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
      }
      .trainersdesc h4 {
        font-size: 2vw;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
      }
      .trainersdesc p {
        color: rgb(214, 212, 212);
        font-size: 2vw;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
      }
      .trainersdesc {
        margin: 20px auto 0 auto;
        width: 70vw;
        justify-content: center;
        text-align: center;
      }
      .trainersinfoimg{
        display: flex;
        position: absolute;
        right: 13vw;
        width: 33%;
        height: auto;
        margin: 5vw 5vw 5vw 2vw;
        border-radius: 40px;
        border-style:groove;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      }
      .trainersinfoimg2{
        display: flex;
        position: relative;
        left: 3vw;
        opacity: 0.8;
        width: 42%;
        height: auto;
        margin: 5vw 5vw 5vw 2vw;
        border-radius: 40px;
        border-style: groove;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }
      .trainersinfo{
        display: flex;
        align-items: center;
      }
      .trainersinfodesc{
        margin-bottom: 4vw;
        margin-right: 3.5vw;
      }
      .trainersinfodesc h2{
        text-shadow: 0.5px 0.5px 1.5px rgb(0, 0, 0);
        font-weight: bold;
        font-size: 4.8vw;
        margin-bottom: 1.5vw;
      }
      .trainersinfodesc p{
        text-align: justify;
        font-size: 2.1vw;
        font-weight: 500;
        text-align: justify;
      }
}

@media (max-width: 992px) {
  .trainersheader {
    background-color: #171717;
    /* background: rgb(0, 0, 0);
    background: linear-gradient(
      86deg,
      rgba(0, 0, 0, 1) 25%,
      rgba(46, 50, 51, 1) 100%
    ); */
    color: white;
    width: 100%;
    height: 45vw;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .trainerstitle {
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    background: rgb(59, 59, 59);
    font-size: 8vw;
    border: 2px solid rgb(139, 135, 135);
    border-style:double;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
  }
  .trainersdesc h4 {
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    margin-top: 10px;
    font-size: 3.6vw;
  }
  .trainersdesc p {
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 3.2vw;
  }
  .trainersdesc {
    margin: 10px auto 0 auto;
    width: 70vw;
    justify-content: center;
    text-align: center;
  }
  .trainersdesc p{
    margin-bottom: 0;
  }
  .trainersinfoimg{
    display: flex;
    position: absolute;
    right: 13vw;
    width: 33%;
    height: auto;
    margin: 9vw 5vw 5vw 2vw;
    border-radius: 20px;
    border-style:groove;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .trainersinfoimg2{
    display: flex;
    position: relative;
    left: 2.5vw;
    opacity: 0.8;
    width: 42%;
    height: auto;
    margin: 9vw 5vw 5vw 2vw;
    border-radius: 40px;
    border-style: groove;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .trainersinfo{
    display: flex;
    align-items: center;
  }
  .trainersinfodesc{
    color: white;
    margin-right: 2.5vw;
    margin-top: 20px;
  }
  .trainersinfodesc ul{
     padding-left: 3.5vw;
  }
  .trainersinfodesc h2{
    margin-left: 2.6vw;
    font-weight: bold;
    font-size: 4.4vw;
    text-shadow: 0.5px 0.5px 1.5px rgb(0, 0, 0);
  }
  .trainersinfodesc p{
    margin-bottom: 5px;
    font-size: 2.6vw;
    font-weight: 500;
    text-align:start;
  }
}