@media (max-width:992px) {
    .dietcard{
        height: 60vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .mealimg{
        width: 45%;
    }
    .mealimg img{
        width: 80%;
        height: auto;
    }
    .mealbody1{
        width: 35%;
    }
    .mealbody1 h5{
        font-size: 4vw;
    }
    .mealbody1 p{
        font-size: 2.5vw;
        margin-bottom: 0;
    }
    .mealbody2{
        padding-left: 0;
        width: 40%;
    }
}