@media (max-width:992px) {
    .trainerdetailcard{
        position: relative;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction:column;
        margin-bottom: 40px;
        transition: all 1s ease-in-out;
    }
    .trainerdetailupper{
        display: flex;
        padding: 3vw;
    }
    .trainerimg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        border-radius: 30vw;
    }
    .trainerimg img{
        /* width: 100%; */
        /* height: auto; */
        border-radius: 20vw;
        border-style: double;
        border-width: 5px;
        border-color: rgb(110, 110, 108)
    }
    .trainerdetailbody{
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0;
    }
    .trainerdetailbody img{
        width: 30%;
    }
    .card-text{
        font-size: 3.5vw;
    }
    .trainerdetailcard hr{
        position: relative;
        bottom: 4vw;
        margin-bottom: 0;
    }
    .contact .info{
        width: 11.5vw;
    }
    .contact button{
        background: none;
        border: none;
    }
    .trainerdownbtn{
        position: relative;
        bottom: 2vw;
        padding: 0;
        border: none;
        background: none;

    }
    .trainerdownbtn img{
        width: 15%;
        height: auto;
    }
    .trainerdropcontent{
        padding: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dropimagehead{
        text-decoration:overline;
        font-size: 5vw;
    }
    .trainerdropcontent img{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        width: 100%;
        border-radius: 10px;
    }
    .transformations{
        position: relative;
    }
    .transformations button{
        box-shadow: none;
        border: none;
        background: none;
    }
    .left{
        display: flex;
        position: absolute;
        width: 12vw;
        top: 40%;
    }
    .right{
        display: flex;
        position: absolute;
        width: 12vw;
        bottom: 43%;
        right: 0%;
    }
    .trainerdropdesc{
        text-align: center;
        margin-top: 3vw;
    }
    .trainercardprice{
        font-size: 4vw;
        font-weight: bold;
    }
    .enroll a{
        border-radius: 20px;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10vw;
        background-color: black;
        color: white;
    }
    .trainerintro{
        padding: 2vw;
    }
    .cross{
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        position: absolute;
        justify-content: flex-end;
        padding: 2vw;
    }
    .cross img{
        width: 10%;
        height: auto;
    }
}