@media (min-width:992px) {
  .card{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #EDEDED;
    font-family: 'Geologica', sans-serif;
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 35px;
    border-radius: 15px;
  }
  .cardimg{
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
  }
  .img-fluid{
    width: 100%;
    border-radius: 20px;
  }
  .cardcontent{
    display: flex;
    align-items: center;
    font-size: 1.4vw;
  }
  .card-body h5{
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-size: 3.1vw;
  }
  .card-text{
    color: rgb(100, 99, 99);
  }
  .expbtn{
    font-weight: bold;
    position: relative;
    width: 22%;
    border: solid rgb(46, 44, 44);
    border-style: double;
  }
}

@media (max-width:992px) {
  .card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    font-family: 'Geologica', sans-serif;
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: 35px;
    border-radius: 20px;
  }
  .row{
    display: flex;
    flex-direction: column;
  }
  .cardimg{
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    width: 90%;
    padding: 4vw 0px 0px 0px;
    margin: auto;
  }
  .img-fluid{
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .cardcontent{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 3.5vw;
  }
  .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card-body h5{
    margin-top: 2vw;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-size: 6vw;
  }
  .card-text{
    color: rgb(100, 99, 99);
    margin-bottom: 12px;
  }
  .expbtn{
    position: relative;
    width: 60%;
    font-size: 4vw;
    font-weight: bold;
    border: 3px solid rgb(46, 44, 44);
    border-style: double;
    margin-bottom: 3vw;
  }
}