@keyframes carouselcap {
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

.carouselcap{
    animation: carouselcap 2s ease;
}

@media (min-width: 992px) {
    .carousel-item{
        background-color: rgb(140, 135, 135);
        height: 40rem;
        position: relative;
    }
    .carousel-caption a{
        margin: 10px;
        border-radius: 2px;
        border-style: double;
        color: white;
    }
    .caption1{
        width: 40vw;
        position: absolute;
        right: 48vw;
        bottom: 14rem;
    }
    .caption1 h1{
        font-size: 3vw;
        font-weight: bold;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }
    .caption1 h4{
        font-size: 2vw;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }
    .caption2{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        background: rgb(47,46,46);
        background: linear-gradient(86deg, rgba(28, 27, 27, 0.8) 25%, rgba(18,20,20,0.7) 100%);
        border-radius: 30px;
        position: absolute;
        bottom: 13rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .carousel .carousel-item .caption2{
        height: 18vw;
    }
    .caption3{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        background: rgb(47,46,46);
        background: linear-gradient(86deg, rgba(28, 27, 27, 0.8) 25%, rgba(18,20,20,0.7) 100%);
        border-radius: 20px;
        /* border-style: double; */
        position: absolute;
        bottom: 13vw;
    }
    .carousel-caption h1{
        font-size: 3vw;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }
    .carousel-caption h4{
        font-size: 2vw;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }
    
}

@media (max-width:992px) {
    .carousel-item img{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .carousel-caption{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        width: 70%;
        padding: 10px;
        background: rgb(47,46,46);
        background: linear-gradient(86deg, rgba(28, 27, 27, 0.8) 25%, rgba(57, 59, 59, 0.8) 100%);
        border-radius: 30px;
        position: absolute;
        bottom: 11vw;
    }
    .carousel-caption h1{
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
        margin-top: 10px;
        font-size: 5vw;
    }
    .carousel-caption h4{
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
        font-size: 4vw;
    }
    .carousel-caption a{
        margin: 5px;
    }
    .carousel .carousel-item .caption2 h4{
        font-size: 2.7vw;
        text-align:center;
    }
    .carousel .carousel-item .caption3 h1{
        font-size: 4.3vw;

    }
}