@media (max-width :992px) {
    .trainerscontainer{
        background-color: black;
        color: white;
        width: 100%;
        height: 12rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .trainerscontainer h2{
        margin-top: 10vw;
    }
}