@media (max-width: 992px) {
  .productheader {
    background-color: black;
    height: 5rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px 0 10px;
    justify-content: space-between;
  }
  .productsearch {
    width: 50%;
  }
  .productsearch button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 0;
  }
  .productsearch img {
    width: 50%;
  }
  .filter button {
    border: solid rgb(189, 187, 187);
    width: 100%;
  }
  .starterpack{
    padding: 3vw;
    width: 45%;
    background-color: rgba(1, 1, 1, 0.689);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 30%;
    right: 28%;
    color: white;
    border-radius: 3vw;
    border: double white 2px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 
  }
  .starterpack h2{
    font-size: 5vw;
  }
  .starterbuy{
    width: 60%;
    padding: 1vw;
    border-radius: 3vw;
    color: white;
    background-color: rgb(148, 151, 151);
    border: solid black;
  }
}
